.presentationCode {
	font-family: 'Roboto Mono', monospace;
	line-height: 42px;
	min-height: 294px;
}

.lineNumber {
	display: inline-block;
	text-align: center;
	margin-right: 73px;
	width: 20px;
}

@media (max-width: 576px) {
	.presentationCode {
		line-height: 26px;
		min-height: 182px;
		font-size: 20px;
	}

	.lineNumber {
		display: none;
	}
}

@media (min-width: 576px) and (max-width: 992px) {
	.presentationCode {
		font-size: 22px;
	}
	.lineNumber {
		margin-right: 10px;
	}
}
