:root {
	/* Main colors */
	--primary-color: #06d6a0;
	--secondary-color: #e4b64b;
	--background-color: #fff;
	--background-highlight-color: #fafafa;
	--font-color: #0f111a;

	/* Util colors */
	--purple-color: #9b3fd9;
	--green-color: #a5b861;
	--red-color: #fe5571;
	--grey-color: #cfd9e5;
	--grey-color-darker: #9aa6c5;

	/* Hovers */
	--primary-color-hover: #02b385;
}

[data-theme='dark'] {
	/* Main colors */
	--primary-color: #58ffd4;
	--secondary-color: #e4b64b;
	--background-color: #262a3a;
	--background-highlight-color: #2d3142;
	--font-color: #cfd9e5;

	/* Util colors */
	--purple-color: #c792ea;
	--green-color: #a5b861;
	--red-color: #f07178;
	--grey-color: #464b5d;
	--grey-color-darker: #616980;

	/* Hovers */
	--primary-color-hover: #16bd92;
}
