.container {
	width: 1110px;
	margin: 0 auto;
}

.space-top {
	margin-top: 86px;
}

.space-bottom {
	margin-bottom: 86px;
}

/* Columns */

.row {
	display: flex;
}

/* stylelint-disable-next-line selector-max-universal */
.row > * + * {
  margin-left: 20px;
}

.col-6 {
	width: 50%;
}

.col-9 {
	width: 75%;
}


@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 16px;
		box-sizing: border-box;
	}

	.row {
		flex-direction: column;
	}

	.col-6, .col-9 {
		width: 100%;
	}

	/* stylelint-disable-next-line selector-max-universal */
	.row > * + * {
		margin-left: 0;
	}
	
}

@media (min-width: 576px) and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.col-9 {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 720px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}