@import '~normalize.css/normalize.css';

@import url("abstracts/colors.css");
@import url("abstracts/fonts.css");
@import url("abstracts/grid.css");

@import url("utils/colors.css");
@import url("utils/font.css");

@import url("components/button.css");

body {
	background: var(--background-color);
	color: var(--font-color);
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

p {
	font-size: 16px;
	line-height: 24px;
}

strong {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

/* stylelint-disable-next-line selector-class-pattern */
.Typewriter {
	display: inline;
}