/* Weights */
.light-weight {
	font-weight: 300;
}

.medium-weight {
	font-weight: 500;
}

/* Font sizes */
.heading-1 {
	font-size: 32px
}

.subtitle {
	font-size: 25px;
	line-height: 37.5px;
}

/* Alignment */
.text-center {
	text-align: center;
}

/* Type */
.monospace {
	font-family: 'Roboto Mono', monospace;
}

/* @media (max-width: 768px) {
	.heading-1 {
		font-size: 18px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.heading-1 {
		font-size: 26px;
	}
} */
