/* Weights */
.light-weight {
	font-weight: 300;
}

.medium-weight {
	font-weight: 500;
}

/* Font sizes */
.heading-1 {
	font-size: 32px;
}

.subtitle {
	font-size: 25px;
	line-height: 37.5px;
}

.small-text {
	font-size: 14px;
	margin-top: -15px;
}

/* Alignment */
.text-center {
	text-align: center;
}

/* Type */
.monospace {
	font-family: 'Roboto Mono', monospace;
}
