.email {
	font-size: 60px;
}

.contactLabel {
	margin: 23px 0;
}

.socialContainer {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin: 0 auto 80px;
}

.social {
	display: block;
	width: 61px;
	height: 70px;
	font-size: 0;
	background: url('/images/sprite.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.social.-instagram {
	background-position: -3px -35px;
}

.social.-linkedin {
	background-position: -200px -35px;
}

.social.-twitter {
	background-position: -131px -35px;
}

.social.-github {
	background-position: -67px -35px;
}

@media (max-width: 576px) {
	.socialContainer {
		width: 250px;
	}

	.social {
		transform: scale(0.7);
	}

	.email {
		font-size: 24px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.email {
		font-size: 42px;
	}
}
